{% load static %}

<!-- Head -->
    <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/css/slicknav.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
<!-- Head -->